.gallery {
    width: 100%;
    overflow: hidden;
    user-select: none;
    touch-action: none
}

.gallery-line {
    overflow: hidden;
    touch-action: none
}

.gallery-slide {
min-height: 1px;
float: left;
transform: translateZ(0);
touch-action: none
}